@{
    ViewData["Title"] = "Home Page";
}
@model IQueryable<Book>
<header>
    <h1>Bookstore Database</h1>
</header>

@foreach(var x in Model)
{
    <div>
        <h3>@x.Title</h3>
        <p>Author: @x.Author</p>
        <p>Publisher: @x.Publisher</p>
        <p>ISBN: @x.ISBN</p>
        <p>Category: @x.Category</p>
        <p>Price: $@x.Price</p>
    </div>
}